:root {
	--color1: #f36f21;
	--color2: #015a99;
}

img {
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
}
.container {
	width: 728px;
	height: 90px;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	background: var(--color2);
}

.border {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 1px solid #c9c9cb;
}

.logo,
.text1,
.text2,
.text3,
.text4,
.cta {
	display: block;
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.cloud1,
.cloud2,
.ocean,
.phil {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.starburst {
	position: absolute;
	width: 850%;
	height: 850%;
	top: 130%;
	left: 50%;
	translate: -50% -50%;
	animation: spin 15s ease-out forwards;
	background: url("starburst.svg") center center / cover no-repeat;
}

.phil {
	width: calc(305px / 2);
	top: auto;
	right: auto;
	left: -100px;
	bottom: -1px;
	animation: phil 10s ease-out forwards;
}

.cloud1 {
	right: auto;
	left: 50px;
	animation: cloud1 15s ease-out forwards;
}
.cloud2 {
	right: -80px;
	left: auto;
	animation: cloud2 15s ease-out forwards;
}

/* Timing */
.text1 {
	top: 20px;
	scale: 1.5;
	animation: in 1s ease forwards, up 1s ease 1.5s forwards,
		fadeout 0.5s linear 4s forwards;
}
.text2 {
	scale: 1.5;
	animation: in 1s ease 1.5s forwards, fadeout 0.5s linear 4s forwards;
}
.logo {
	scale: 1.5;
	animation: in 0.5s ease-out 4s forwards;
}
.text3 {
	animation: in 1s ease 4.5s forwards, fadeout 0.5s linear 6s forwards;
}
.text4 {
	animation: in 1s ease 6.5s forwards;
}
.cta {
	translate: -20px 0;
	animation: in 1s ease 6.5s forwards;
	transition: transform 0.125s ease;
}
.container:hover .cta {
	transform: scale(1.1) translateX(-20px);
}
/* Animation */

@keyframes in {
	100% {
		opacity: 1;
		scale: 1;
		translate: 0 0;
	}
}
@keyframes up {
	100% {
		translate: 0 -20px;
	}
}
@keyframes fadeout {
	100% {
		opacity: 0;
	}
}
@keyframes cloud1 {
	100% {
		translate: -85px 0;
	}
}
@keyframes cloud2 {
	100% {
		translate: -60px 0;
	}
}

@keyframes phil {
	0% {
		translate: 0 0;
		rotate: 0deg;
	}
	10% {
		rotate: -3deg;
	}
	20% {
		rotate: -1deg;
	}
	30% {
		rotate: -3deg;
	}
	40% {
		rotate: 0deg;
	}
	55% {
		rotate: -2deg;
	}
	70% {
		rotate: 2deg;
	}
	90% {
		rotate: 0deg;
	}
	100% {
		translate: 180px 0;
	}
}

@keyframes spin {
	100% {
		transform: rotate(150deg);
	}
}
