* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--width: 728px;
	--height: 90px;
}
img {
	width: 100%;
	display: block;
}
.container {
	width: var(--width);
	height: var(--height);
	overflow: hidden;
	position: relative;
	background: #0d1b39;
	cursor: pointer;
	animation: bg-color 6s ease 1s forwards;
}
.container > * {
	position: absolute;
}
.border {
	position: absolute;
	inset: 0;
	border: 1px solid #bbd0da;
}

.stars1 {
	width: 687px;
	inset: 4px 0 0 26px;
	transform-origin: center center;
	filter: blur(20px);
	scale: 8;
	opacity: 0;
	animation: stars-in 1.2s ease 2s forwards,
		stars-blink ease 0.5s 2s 27 alternate, stars-pan-1 linear 6s 3s 2 alternate;
}
.stars2 {
	width: 701px;
	inset: 8px 0 0 13px;
	transform-origin: center center;
	filter: blur(20px);
	scale: 8;
	opacity: 0;
	animation: stars-in 1.1s ease 2s forwards,
		stars-blink ease 0.5s 1s 27 alternate, stars-pan-2 linear 6s 3s 2 alternate;
}
.stars3 {
	width: 705px;
	inset: 47px 0 0 12px;
	transform-origin: center center;
	filter: blur(20px);
	scale: 8;
	opacity: 0;
	animation: stars-in 1s ease 2s forwards,
		stars-blink ease 0.5s 1.5s 27 alternate,
		stars-pan-3 linear 6s 3s 2 alternate;
}

.txt1 {
	width: 111px;
	inset: 37px 0 0 24px;
	opacity: 0;
	scale: 0.9;
	transform-origin: center top;
	animation: txt1-in 0.3s ease 0.5s forwards, txt1-up2 1s ease 5.8s forwards;
}
.txt2 {
	background-image: url(gradient.jpg);
	background-size: 400%;
	background-repeat: no-repeat;
	width: 186px;
	inset: 38px 0 0 141px;
	opacity: 0;
	scale: 4;
	transform-origin: center top;
	animation: txt2-in 1s ease 3s forwards, gradient-bg 14s 1s ease forwards,
		txt2-up2 1s ease 5.8s forwards;
	-webkit-mask-image: url(txt2.png);
	mask-image: url(txt2.png);
	-webkit-mask-size: 186px;
	mask-size: 186px;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}
.txt3 {
	inset: 53px 0 0 89px;
	width: 174px;
	opacity: 0;
	animation: fade-in 1s ease 6s forwards;
}
.overlay {
	background: linear-gradient(
		180deg,
		rgba(37, 51, 90, 0) 0%,
		rgba(37, 51, 90, 0.9) 30%,
		rgba(37, 51, 90, 0.9) 60%,
		rgba(37, 51, 90, 0) 100%
	);
	inset: auto 0 0 0;
	width: 728px;
	height: 90px;
	opacity: 0;
	animation: fade-in 1s ease 4s forwards;
}
.logo-mark {
	background-image: url(gradient.jpg);
	background-size: 400%;
	background-repeat: no-repeat;
	width: 158px;
	inset: 14px 0 0 370px;
	opacity: 0;
	transform-origin: center top;
	animation: fade-in 1s ease 4s forwards, gradient-bg 14s 1s ease forwards;
	-webkit-mask-image: url(logo-mark.png);
	mask-image: url(logo-mark.png);
	-webkit-mask-size: 158px;
	mask-size: 158px;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}
.logo-txt {
	width: 183px;
	inset: 65px 0 0 358px;
	opacity: 0;
	animation: fade-in 1s ease 4s forwards;
}
.cta {
	background-image: url(gradient.jpg);
	background-size: 400%;
	background-repeat: no-repeat;
	width: 123px;
	inset: 30px 0 0 569px;
	opacity: 0;
	transform-origin: center top;
	animation: fade-in 1s ease 4s forwards, gradient-bg 14s 1s ease forwards,
		pop 0.5s ease 8s;
	-webkit-mask-image: url(cta.png);
	mask-image: url(cta.png);
	-webkit-mask-size: 123px;
	mask-size: 123px;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	transition: scale 0.3s ease, translate 0.3s ease;
}
.container:hover .cta {
	scale: 1.1;
	translate: 0 -2px;
}
@keyframes bg-color {
	100% {
		background: rgb(37, 51, 90);
	}
}
@keyframes txt1-in {
	100% {
		opacity: 1;
		scale: 1;
	}
}

@keyframes txt1-up2 {
	100% {
		translate: 0 -11px;
	}
}
@keyframes txt2-up2 {
	100% {
		translate: 0 -11px;
	}
}
@keyframes txt2-in {
	100% {
		opacity: 1;
		scale: 1;
	}
}
@keyframes gradient-bg {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 70% 50%;
	}
	100% {
		background-position: 10% 60%;
	}
}
@keyframes stars-in {
	100% {
		opacity: 1;
		scale: 1;
		filter: blur(0);
	}
}
@keyframes stars-blink {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes stars-pan-1 {
	100% {
		translate: -12px 5px;
	}
}
@keyframes stars-pan-2 {
	100% {
		translate: 15px -8px;
	}
}
@keyframes stars-pan-3 {
	100% {
		translate: 10px 4px;
	}
}

@keyframes in {
	100% {
		translate: 0 0;
		opacity: 1;
		scale: 1;
	}
}
@keyframes fade-in {
	100% {
		opacity: 1;
	}
}
@keyframes pop {
	50% {
		scale: 1.1;
		translate: 0 -2px;
	}
	100% {
		scale: 1;
		translate: 0 0;
	}
}
