body {
	margin: 0;
	padding: 0;
}
.container {
	width: 300px;
	height: 250px;
	overflow: hidden;
	position: relative;
	background-image: url("bg.jpg");
	background-size: 100%;
	box-sizing: border-box;
}
img {
	width: 100%;
}
.border {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 1px solid #c9c9cb;
}
.text1,
.text2,
.cta,
.line {
	display: block;
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Timing */

.line {
	animation: line 0.7s ease-out forwards;
}
.text1 {
	animation: text 0.5s linear 0.4s forwards;
}
.text2 {
	animation: text 0.5s linear 1.2s forwards;
}
.cta {
	animation: text 0.5s linear 2.4s forwards;
}

/* Animation */
@keyframes line {
	from {
		transform: translateY(-150px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes text {
	to {
		opacity: 1;
	}
}
