* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--width: 300px;
	--height: 600px;
}
img {
	width: 100%;
	display: block;
}
.container {
	width: var(--width);
	height: var(--height);
	overflow: hidden;
	position: relative;
	background: #0057b8;
	cursor: pointer;
}
.container > * {
	position: absolute;
}
.border {
	inset: 0;
	border: 1px solid #e6e6e6;
}
.circle-b {
	width: 497px;
	inset: 46px auto auto -174px;
	transform: scale(0.9);
	animation: grow 15s ease-in-out forwards;
}
.circle-g {
	width: 586px;
	inset: 307px auto auto 63px;
	transform: scale(0.8);
	animation: grow 15s ease-in-out forwards, fadeout 1s linear 9.2s forwards;
}
.logo {
	width: 50px;
	inset: 30px auto auto 220px;
	animation: fadeout 0.2s linear 2.5s forwards, logo-final 1s linear 10s forwards;
}
.txt1 {
	width: 202px;
	inset: 177px auto auto 30px;
	opacity: 0;
	animation: in ease forwards, fadeout 0.2s linear 2.5s forwards;
}
.txt2 {
	width: 238px;
	inset: 382px auto auto 30px;
	opacity: 0;
	translate: 30px 0;
	animation: in 0.5s 1s ease forwards, fadeout 0.2s linear 2.5s forwards;
}
.txt3 {
	width: 245px;
	inset: 199px auto auto 28px;
	opacity: 0;
	animation: in 0.2s 3s ease forwards, fadeout 0.2s linear 6s forwards;
}
.txt4 {
	width: 217px;
	inset: 277px auto auto 29px;
	opacity: 0;
	translate: 30px 0;
	animation: in 0.5s 3.5s ease forwards, fadeout 0.2s linear 6s forwards;
}
.txt5 {
	width: 239px;
	opacity: 0;
	inset: 330px auto auto 29px;
	animation: fadein 0.2s linear 4.3s forwards, fadeout 0.2s linear 6s forwards;
}
.txt6 {
	width: 39px;
	opacity: 0;
	inset: 256px auto auto 30px;
	animation: fadein 0.2s linear 6.5s forwards, fadeout 0.2s linear 9.2s forwards;
}
.txt7 {
	width: 68px;
	inset: 245px auto auto 80px;
	opacity: 0;
	translate: 30px 0;
	animation: in 0.5s 7s ease forwards, fadeout 0.2s linear 9.2s forwards;
}
.txt8 {
	width: 244px;
	opacity: 0;
	inset: 295px auto auto 28px;
	animation: fadein 0.2s linear 7.5s forwards, fadeout 0.2s linear 9.2s forwards;
}
.txt9 {
	width: 239px;
	opacity: 0;
	inset: 559px auto auto 30px;
	animation: fadein 0.2s linear 10s forwards;
}
.cta {
	opacity: 0;
	inset: 283px auto auto 142px;
	width: 130px;
	animation: cta 0.5s ease 10s forwards, pop 0.5s ease 12s;
	transition: scale 0.2s ease;
}
.container:hover .cta {
	scale: 1.1;
}
@keyframes grow {
	100% {
		transform: scale(1.2);
	}
}

@keyframes in {
	100% {
		translate: 0 0;
		opacity: 1;
		scale: 1;
	}
}
@keyframes logo-final {
	0% {
		opacity: 0;
		width: 75px;
		inset: 259px auto auto 37px;
	}
	100% {
		opacity: 1;
		width: 75px;
		inset: 259px auto auto 37px;
	}
}
@keyframes fadein {
	100% {
		opacity: 1;
	}
}
@keyframes fadeout {
	100% {
		opacity: 0;
	}
}
@keyframes cta {
	100% {
		opacity: 1;
	}
}
@keyframes pop {
	50% {
		scale: 1.1;
	}
	100% {
		scale: 1;
	}
}
